<div class="sp-app">
  <sp-module-breadcrumb [items]="moduleBreadcrumbs" [ariaLabel]="branding.breadcrumbAriaLabel"
    (navigate)="onBreadcrumbNavigate($event)" />
  <main class="sp-app-main">
    @switch (view) {
    @case ('home') {
    <app-workspace-connect-home (openSharepointWorkspace)="goSharepointWorkspace()" (openConnectors)="goConnectors()"
      (openRegister)="goRegister()" (openGuidedRegister)="goGuidedRegister()" />
    }
    @case ('connectors') {
    <app-workspace-connect-connectors (useApplication)="onUseApplication($event)" (navigateHome)="goHome()"
      (viewChange)="onConnectorsViewChange($event)" />
    }
    @case ('guided-registration') {
    <app-workspace-connect-guided-registration (useApplication)="onUseApplication($event)"
      (navigateConnectors)="goConnectors()" (navigateHome)="goHome()" />
    }
    @case ('sharepoint-workspace') {
    <app-sharepoint-workspace [initialApplicationId]="pendingApplicationId" (navigateHome)="goHome()"
      (navigateConnectors)="goConnectors()" (registerInternal)="goConnectors()"
      (launchApplicationConsumed)="onLaunchApplicationConsumed()" />
    }
    }
  </main>
</div>
