#processFilePage {
  height: 100%;
  width: 100%;
  padding: 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.page-card {
  flex: 1;
  background-color: var(--grey-1);
  border-radius: 5px;
  padding: 10px;
}

.file-process-list {
  background-color: var(--grey-2);
  border-top: 1px solid var(--grey-4);
  margin-bottom: 0px;
}

.file-process-list:last-child {
  border-bottom: 1px solid var(--grey-4);
}

.process-title {
  padding: 10px;
  font-weight: 500;
  color: var(--brand-secondary);
  display: flex;
  cursor: pointer;
}

.contol {
  width: 20px;
  height: 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.file-card {
  margin: 10px 20px 0px;
  padding: 0px !important;
  border: 1px solid #f0f0f0;
  background-color: var(--grey-1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
}

.file-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.status-list {
  display: flex;
  position: relative;
  min-height: 50px;
}

.status-indi-holder {
  background: white;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  left: -5px;
  top: -4px;
  padding: 5px;
}

.status-indicator {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  outline: 1px solid #989898;
  /* margin-right: 10px;
    position: absolute; */
  background-color: var(--grey-1);
}

.status-list:last-child .status {
  border: none;
}

.status-list-container {
  margin: 15px auto;
  padding: 0px 25px;
  text-align: left;
}

.status {
  padding-left: 25px;
  margin-left: 6px;
  border-left: 2px solid var(--grey-6);
  margin-top: -2.5px;
}

.status-name,
.status-list.skipped .status-name {
  font-weight: 500;
  color: #989898;
  letter-spacing: 0.3px;
}



.status-list.started .status-indicator {
  background: var(--brand-highlight);
  outline: 2.5px rgba(32, 113, 217, 50%) solid;
}

.status-list.processing .status-name {
  color: #253788;
  font-weight: 600;
}

.status-list.processing .status-indicator {
  background: #253788;
  outline: 2.5px rgba(37, 55, 136, .50) solid;
}


.status-list.completed .status-indicator {
  background: var(--success-4);
  outline: 2.5px rgba(0, 154, 88, .50) solid;
}

.status-list.completed .status-indicator::before {
  content: "\f88b";
  display: block;
  font-family: Material Symbols Outlined;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  position: absolute;
  top: 0px;
  color: #fff;
  left: 3px;
}

.status-list.error .status-indicator {
  background: var(--warning-7);
  outline: 2.5px rgba(174, 32, 26, .50) solid;
}

.status-list.error .status-indicator::before {
  content: "\e5cd";
  display: block;
  font-family: Material Symbols Outlined;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  position: absolute;
  top: 0px;
  color: #fff;
  left: 3px;
}

.status-list.stopped .status-indicator {
  background: var(--warning-3);
  outline: 2.5px rgba(255, 143, 0, .50) solid;
}

.status-list.stopped .status-indicator::before {
  content: "\f22f";
  display: block;
  font-family: Material Symbols Outlined;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  position: absolute;
  top: 0px;
  color: #fff;
  left: 3px;
}

.status-list.skipped .status-indicator {
  background: var(--grey-6);
  outline: 2.5px var(--grey-8) solid;
}




.status-list.completed .status-name,
.status-list.started .status-name,
.status-list.stopped .status-name {
  color: var(--grey-14);
  font-weight: 500;
}

.status-list.error .status-name {
  color: var(--warning-7);
  font-weight: 500;
}


.status-date {
  font-size: 11px;
  color: #787878;
  letter-spacing: 0.3px;
  padding-top: 2px;
}







.file-summary {
  margin: 10px;
  border-radius: 5px;
  padding: 10px 15px;
  display: flex;
  border: 1px dashed var(--blue-1);
  justify-content: space-between;
}

.file-icon {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #D3E1FC;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  color: var(--blue-5);
}

.file-name {
  font-size: 15px;
  font-weight: 600;
}

.file-size {
  color: var(--grey-10);
  font-size: 13px;
  font-weight: 500;
}


img.icon {
  margin-right: 8px;
  height: 26px;
}