#ruleSetListPage {
  height: 100%;
  width: 100%;
  display: flex;
}

#rulesetArea {
  background: var(--grey-1);
  border-style: solid;
  border-color: var(--grey-4);
  border-width: 0px 1px 0px 1px;
  /* padding: 20px 15px; */
  display: none;
  opacity: 0;
}

#rulesetArea.open {
  display: flex !important;
  flex-direction: column;
  height: 100%;
  /* min-width: 25%; */
  width: 600px;
  overflow-x: auto;
}

.rulesetarea-grey {
  background-color: #f7f7f7;
  height: calc(100% - 208px) !important;

  overflow-y: auto;
}

#rulesetPanel {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.slide-left {
  opacity: 1 !important;
  -webkit-animation: slide-in 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide-in 0.5s forwards;
  animation-delay: 2s;

}

form {
  height: 100%;
}

.slide-left {
  opacity: 1 !important;
  -webkit-animation: slide-in 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide-in 0.5s forwards;
  animation-delay: 2s;

}

@keyframes move {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-100%);
    opacity: 1;
  }

  50.001% {
    opacity: 0;
    transform: translateX(100vw);
  }

  50.002% {
    opacity: 1;
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(0);
  }
}

.width-adjust {
  max-width: calc(100%);
}

.panel-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px 0px;
}

.panel-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 15px 0px;
  height: 100%;
}

.page-title {
  font-size: 16px;
  font-weight: 700;
  color: var(--grey-14);
  margin-bottom: 20px;
}

.list-panel {
  flex: 1;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
}

.word-break {
  word-break: break-word;
}

.cursor-pointer {
  cursor: pointer !important;
}

.draggable-row {
  cursor: move;
}

ul.ruleset {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.ruleset li {
  padding: 5px;
}

.individual-ruleset {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #E8E8E8;
}

.ruleset-name {
  flex-grow: 1;
  display: flex;
  align-items: center;
  width: calc(100% - 54px);
}

.ruleset-action {
  min-width: 54px;
  text-align: right;
}

.ruleset-action .material-icons-round {
  font-size: 18px !important;
}

.f-13 {
  font-size: 13px;
}

.f-13 b {
  font-size: 11px;
}

.h-100 {
  height: 100% !important
}

.r-section {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.flex-str {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.validation-rule-setting {
  padding: 0px 15px 10px;
}

.textbox-wrapper {
  position: relative;
  display: inline-block;
}

.spinner {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-top: 2px solid #333;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }


}

.table-actions {
  display: flex;
  width: fit-content;
  height: fit-content;
}

.table-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.process-list-panel {
  flex: 1;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
  min-height:80vh
}

.table-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.refresh-btn {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: var(--grey-6);
  border-radius: 4px;
  margin-left: 8px;
}

.refresh-btn:hover {
  background: var(--grey-7);
}

#daterange {
  position: relative;
  min-width: 220px;
  height: fit-content;
  margin-right: 10px;
}

/* #daterange:active,
#daterange:focus,
#daterange:had(.inputwrapper-focus) {
  border: 1px solid red;
} */

#search {
  position: relative;
  min-width: 220px;
  height: 40px;
  margin-right: 10px;
}

#search>.form-control {
  height: inherit;
}

.clear {
  position: absolute;
  right: 6px;
  /* background-color: white; */
  cursor: pointer;
  top: 12px;
}

.min-220 {
  min-width: 220px;
}

.clear i {
  font-size: 18px;
}

.no-data {
  width: 100%;
  max-width: 200px;
}

.icon-btn {
  height: 40px;
  width: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.min-220 {
  min-width: 220px;
}

.top-10 {
  top: 10px !important;
}

/* ::ng-deep .ng-select-container{height: 40px !important; overflow: auto;} */
.h-40 {
  height: 40px !important;
}

@media screen and (max-width: 680px) {
  .table-actions {
    display: flex;
    width: fit-content;
    flex-direction: column;
  }

  ::ng-deep span.p-calendar {
    width: 100%;
  }

  #daterange {
    margin-bottom: 10px;
  }

}

@media screen and (max-width: 1080px) {
  .width-adjust {
    max-width: 0% !important;
    display: none !important;
  }
}


::ng-deep .ng-select.ng-select-single .ng-select-container {
    height: 40px;
}
