#dashboardPage {
    padding: 20px;
    overflow: auto;
    height: 100%;
}
::ng-deep .apexcharts-data-labels>text{font-size: 8px !important; word-break: break-all; font-weight: 400; display:none;}
.hello-banner {

    background-image: url(/banner2.svg);
    background-repeat: no-repeat;
    background-position-x: 15px;
    /* background-size: contain; */
    background-size: 200px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    background-color: #ffffee;
    border-radius: 5px;
    padding: 20px 20px 20px 220px;
    margin-bottom: 20px;
}   

.hb-left h3 {
    font-weight: 700;
    margin-bottom: 0px;
    font-size: 26px;


}

.hb-left h3+div {
    color: var(--grey-10);
    font-weight: 500;
    letter-spacing: 0.5px;
}

.hb-right {
    align-items: center;
    display: flex;
    letter-spacing: 1px;
}

.hb-right>i {
    margin-left: 10px;
    background-color: #ebebeb;
    padding: 6px 6px 5px 5px;
    border-radius: 100%;
    color: #353535;
}



.create-card {
    background-color: #ffcce6;
    /* margin-bottom: 20px; */
    border-radius: 5px;
    display: flex;
    height: 100%;
    padding: 20px;
    flex-direction: column;
}

.create-card .icon {
    font-size: 30px !important;
    height: 50px;
    width: 50px;
    background: #ffdff0;
    border-radius: 100%;
    padding: 10px;
    color: #cf7ba6;
    /* align-self: center; */
    margin-right: 20px;
    margin-bottom: 10px;
}


.processed-card {
    background-color: #D2EDFF;
    /* margin-bottom: 20px; */
    border-radius: 5px;
    display: flex;
    height: 100%;
    padding: 20px;
    flex-direction: column;
}

.processed-card .icon {
    font-size: 30px !important;
    height: 50px;
    width: 50px;
    background: #e3f4ff;
    border-radius: 100%;
    padding: 10px;
    color: #6d92ab;
    /* align-self: center; */
    margin-right: 20px;
    margin-bottom: 10px;
}

.client-card {
    background-color: #f4cefd;
    /* margin-bottom: 20px; */
    border-radius: 5px;
    display: flex;
    height: 100%;
    padding: 20px;
    flex-direction: column;
}

.client-card .icon {
    font-size: 30px !important;
    height: 50px;
    width: 50px;
    background: #f7d8ff;
    border-radius: 100%;
    padding: 10px;
    color: #b071c1;
    /* align-self: center; */
    margin-right: 20px;
    margin-bottom: 10px;
}

.create-total {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 5px;
    color: var(--grey-14);
}

.new {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    padding-top: 15px;
    margin-top: 5px;
}

.new>span {
    font-size: 16px !important;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--grey-11);
    letter-spacing: 0.5px;
}


.graph-card {
    width: 100%;
    padding: 0px 20px;
    /* background-color: var(--grey-1); */
    border-radius: 5px;
    margin-top: 20px;
}

.graph-title {
    font-weight: 600;
    letter-spacing: 0.3px;
    font-size: 15px;
    /* margin-bottom: 20px; */
}

.graph-card img {
    margin-top: 20px;
    height: 250px;
    width: 100%;
}

.legend-text {
    font-size: 11px;
    color: var(--grey-9);
    letter-spacing: 0.5px;
}
.legend {
    height: 12px;
    width: 12px;
    border-radius: 12px;
}

.legend.one {
    background-color: #780096;
    margin-right: 5px;
}

.legend.two {
    background-color: #e3008a;
    margin-right: 5px;
}

.legend.three {
    background-color: #ff8f00;
    margin-right: 5px;
}

.legend.four {
    background-color: var(--content-7);
    margin-right: 5px;
}

.legend.five {
    background-color: var(--content-6);
    margin-right: 5px;
}

.right-column {
    background-color: var(--grey-5);
    height: 100%;
    border-radius: 5px;
    padding: 20px;
}

.percent {
    position: absolute;
    bottom: 45px;
    left: calc(50% - 50px);
    right: calc(50% - 50px);
    z-index: 2;
    width: 100px;
    text-align: center;
    font-size: 22px;
    FONT-WEIGHT: 600;
}

.small-descriptive {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: var(--grey-9);
}

.file-success,
.file-failed {
    width: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
}

.file-success>span,
.file-success .status-title {
    color: var(--success-4);
}

.file-failed>span,
.file-failed .status-title {
    color: var(--warning-3);
}

.status-title {
    font-weight: 600;
    letter-spacing: 0.5px;
}

.status-value {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.file-success .material-symbols-rounded,
.file-failed .material-symbols-rounded {
    margin-right: 10px;
    font-size: 30px;
}



.file-status-card {
    width: 100%;
    padding: 10px 15px;
    background: white;
    border-radius: 7px;
    margin-bottom: 15px;
    /* border-left: 4px solid var(--grey-10); */
}

.file-status-card.processing {
    /* border-left: 4px solid #253788; */
}

.file-status-card.completed {
    /* border-left: 4px solid var(--success-4); */
}

.file-status-card.started {
    /* border-left: 4px solid var(--blue-4); */
}

.file-status-card.error {
    /* border-left: 4px solid var(--warning-7); */
}


.process-name {
    font-weight: 500;
    color: var(--grey-9);
    letter-spacing: 0.5px;
    border-bottom: 1px dashed var(--grey-5);
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.file-icon {
    margin-right: 5px;
}

.file-name {
    font-weight: 400;
    font-size: 13px;
    word-break: break-word;
    letter-spacing: 0.2px;
}

.file-icon>img {
    width: 28px;
}

.link-btn>span {
    font-size: 20px;
    margin-right: 3px;
}

.link-btn.text-xs {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 5px;
    width: 105px;
    min-width: 105px;
    margin-left: 10px;
}

.wrap-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.overview {
    width: fit-content;
    height: fit-content;
}
@media screen and (min-device-width: 1080px) and (max-device-width: 1300px){
.apexcharts-canvas{max-width:71% !important;}

}
input[type="date"] {
    border: none;
    width: 95px;
}

.chart-container {
    width: 100%;
    /* min-width: 290px; */
    min-height: 100px;
    margin: 0 auto;
    position: relative;
    max-height: 200px;
}

/* .chart-container {
    width: 100%;
    min-width: 400px;
    min-height: 100px;
    margin: 0 auto;
    position: relative;
    max-height: 200px;
} */

.float-info {
    position: absolute;
    width: 100%;
    bottom: -40%;
}


.started .badge {
    /* border: 1px solid var(--grey-10);
    color: var(--grey-10) !important; */
    border: 1px solid rgb(48 71 176 / 50%);
    color: var(--grey-13);
    background-color: var(--brand-highlight);
}

.processing .badge {
    /* background-color: #253788 !important;
    color: #fff !important; */
    background-color: #6c81dd26;
    color: #253788;
}

.completed .badge {
    /* background-color: var(--success-4) !important;
    color: #fff !important; */
    background-color: #8be4bf33;
    color: var(--success-4);
}

.error .badge {
    /* background-color: var(--warning-7) !important;
    color: #fff !important; */
    background-color: #ae201a1a;
    color: var(--warning-7);
}

.skipped .badge {
    /* background-color: var(--warning-7) !important;
    color: #fff !important; */
    border: 1px solid var(--grey-7);
    color: var(--grey-9);
    background: var(--grey-3);
}

.badge {
    font-size: 13px;
    font-weight: 400;
    padding: 2px 10px 4px;
    letter-spacing: .3px;
    /* margin-top: 5px; */
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
}

.status-date {
    font-size: 10px;
    color: #787878;
    letter-spacing: 0.3px;
    padding-top: 1px;
}


.banner-area {
    display: flex;
    flex-direction: column;
}

.color-cards {
    flex: 1;
}

/* .client-graph {
    height: 150px;
} */


.client-graph, .data-graph {
    background: white;
    padding: 20px;
    border-radius: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

@media only screen and (max-width: 600px) {
    .hello-banner {
      display: block;
      padding: 133px 20px 20px 20px;
    }
    .hb-left{font-size: 22px;}
    ::ng-deep #apexcharts6j3ve6ov .apexcharts-canvas{margin-left: 10px !important;}
  }
  