#loginBody {
    background-blend-mode: soft-light;
    background-image: url(/white-circle-wave.svg), linear-gradient(130deg, rgba(48, 72, 177, 1) 0%, rgba(48, 72, 177, 1) 25%, rgba(0, 135, 255, 1) 100%);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 75%;
    height: 100vh;
    width: 100vw;
    display: flex;
}

#loginPanel {
    width: 25%;
    min-width: 385px;
    padding: 15px 45px;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

#loginPanel>div {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.login-top {
    height: 18%;
}

.login-gap {
    height: 43%;
}

.login-action {
    height: 26%;
    align-items: center !important;
    flex-direction: column;
}

.login-btn {
    width: 100%;
    height: 45px;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.login-bottom {
    height: 13%;
    justify-content: space-between !important;
    text-align: right;
    color: var(--grey-11);
    font-size: 11px;
    letter-spacing: 0.5px;
    flex-direction: column;
}

.login-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.footer-icon {
    align-self: flex-start;
    font-size: 28px;
}
