<?xml version="1.0" encoding="utf-8"?>
<configuration>

<system.webServer>
  <rewrite>
    <rules>
      <rule name="Angular Routes" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        </conditions>
        <action type="Rewrite" url="./index.html" />
      </rule>
    </rules>
	<outboundRules>
		<rule name="Remove X-POWERED-BY">
			<match serverVariable="RESPONSE_X-POWERED-BY" pattern=".*" />
			<action type="Rewrite" value=""/>
		</rule>
		<rule name="Remove RESPONSE_SERVER">
			<match serverVariable="RESPONSE_server" pattern=".*" />
			<action type="Rewrite" value=""/>
		</rule>
	</outboundRules>
  </rewrite>
  <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <mimeMap fileExtension=".ttf" mimeType="application/font-sfnt" />
    </staticContent>
	<httpProtocol>
		<customHeaders>
			<clear />
	<remove name="X-Powered-By" />
	<remove name="Server" />
    <add name="X-Content-Type-Options" value="nosniff" />
    <add name="X-Frame-Options" value="SAMEORIGIN" />
    <add name="X-XSS-Protection" value="1; mode=block" />
    <add name="Content-Security-Policy" value="
    default-src 'self'  https://app.powerbi.com;
    script-src 'self' 'unsafe-inline' https://alcdn.msauth.net https://secure.aadcdn.microsoftonline-p.com;
    connect-src 'self' https://login.microsoftonline.com https://graph.microsoft.com https://tpservices.teleperformanceusa.com
    api.dataingestion.dev.ontp.app;
    img-src 'self' data: blob:;
    style-src 'self' 'unsafe-inline';
    frame-ancestors 'self' https://dataingestion.dev.ontp.app;"/>
    <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
    <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
		</customHeaders>
	</httpProtocol>
  <security>
	<requestFiltering removeServerHeader="true" />

  </security>
</system.webServer>
<system.web>
  <httpRuntime enableVersionHeader="false" />
</system.web>

</configuration>
